﻿
@{
    ViewBag.Title = "Consultor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Solucion a reloj atras del modal*/
    .clockpicker-popover {
        z-index: 999999;
    }

    .erI {
        border: 1.5px dashed #FF0000
    }
</style>

<input type="hidden" id="UserJP" value="@ViewBag.JefePro">
<input type="hidden" id="UserAdmin" value="@ViewBag.Admin">
<input type="hidden" id="IdUsuario" value="@ViewBag.IdUsuario">
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>TimeSheet Consultor</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-sm btn-info" onclick="location.href='@Url.Action("RegistroConsultoria")'; return false;"><i class="fa fa-plus"></i> Registrar Timesheet</button>
                        <button class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("RegistroEntregable")'; return false;"><i class="fa fa-plus"></i> Registrar Entregable</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="usuario">Usuario</label>
                                @{
                                    if (ViewBag.Admin == 1 || ViewBag.JefePro == 1)
                                    {
                                        <select class="form-control input-sm" id="usuarioB" name="usuarioB">
                                            <option value="0">Todos</option>
                                        </select>
                                    }
                                    else
                                    {
                                       <input type="hidden" value="@ViewBag.IdUsuario" id="usuarioB" name="usuarioB">
                                       <input value="@ViewBag.Nombre" class="form-control input-sm" disabled>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="proyecto">Proyecto</label>
                                <select class="form-control input-sm" id="proyectoB" name="proyectoB">
                                    <option value="0">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="proyecto">Periodo</label>
                                <div id="periodo" style="cursor: pointer; width: 100%">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span></span> <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <br />
                            <button type="button" id="btnBuscar" class="btn btn-sm btn-info"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tblTimesheetConsultoria" class="table table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        @{
                                            if (ViewBag.Admin == 1 || ViewBag.JefePro == 1)
                                            {
                                                <th>Usuario</th>
                                            }
                                        }
                                        <th>Proyecto</th>
                                        <th>Descripción</th>
                                        <th>Fecha</th>
                                        <th>Dias</th>
                                        <th width="70px">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="ibox-title">
                        <h5>Registros Entregables</h5>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="tblTimesheetEntregables" class="table table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            @{
                                                if (ViewBag.Admin == 1 || ViewBag.JefePro == 1)
                                                {
                                                    <th>Usuario</th>
                                                }
                                            }
                                            <th>Consultoria</th>
                                            <th>Entregable</th>
                                            <th>% Avance</th>
                                            <th>Pendiente</th>
                                            <th>Versión Final</th>
                                            <th>Observaciones</th>
                                            <th>Codigo Documento</th>
                                            <th width="70px">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlEditarTSC" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 id="titModal" class="modal-title">Editar Timesheet Consultor</h4>
                <small class="font-bold"></small>
            </div>
            <form name="form-editar" method="POST" id="form-editarTSC" class="form-horizontal">
                <div class="modal-body">

                    <input type="hidden" id="IdTimesheetConsultor" name="IdTimesheetConsultor" value="0">
                    <input type="hidden" id="IsAprobado" name="IsAprobado" value="0">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Consultoria</label>
                        <div class="col-md-9">
                            <select class="form-control input-sm" name="ProyectoC" id="ProyectoC"></select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Descripción</label>
                        <div class="col-md-9">
                            <input type="text" placeholder="Descripción" class="form-control input-sm" name="DescripcionC" id="DescripcionC">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Fecha</label>
                        <div class="col-md-9">
                            <input type="text" placeholder="DD-MM-AAAA" class="form-control datepicker input-sm" name="FechaC" id="FechaC" autocomplete="off" required>
                        </div>

                    </div>

                    @*<div class="form-group row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button id="btnGuardarTSC" type="submit" class="btn btn-sm btn-success ladda-button" data-style="zoom-in">Guardar</button>
                        </div>
                    </div>
                </div>*@




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" id="CierremodalETSC">Cerrar</button>
                    <button id="btnGuardarTSC" type="submit" class="btn btn-sm btn-success ladda-button" data-style="zoom-in">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlEditarTSE" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 id="titModal" class="modal-title">Editar Entregable</h4>
                <small class="font-bold"></small>
            </div>
            <form name="form-editarTSE" method="POST" id="form-editarTSE" class="form-horizontal">
                <div class="modal-body">

                    <input type="hidden" id="IdEntregable" name="IdEntregable" value="0">
                    <input type="hidden" id="IdTimesheetAprobada" name="IdTimesheetAprobada" value="0">

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Consultoria</label>
                        <div class="col-md-4">
                            <select class="form-control input-sm" name="ProyectoEC" id="ProyectoEC">
                                <option value="">Seleccione</option>
                            </select>
                        </div>

                        <label class="col-md-2 col-form-label">Entregable</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" name="EntregableC" id="EntregableC" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">% Avance</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control input-sm" name="AvanceC" id="AvanceC" required>
                        </div>
                        <label class="col-md-2 col-form-label">Pendiente</label>
                        <div class="col-md-4">
                            <select class="form-control input-sm " name="PendienteC" id="PendienteC">
                                <option value="">Seleccione</option>
                                <option value="0">Si</option>
                                <option value="1">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Versión Final</label>
                        <div class="col-md-4">
                            <select class="form-control input-sm" name="VersionFinal" id="VersionFinal">
                                <option value="">Seleccione</option>
                                <option value="0">Si</option>
                                <option value="1">No</option>
                            </select>
                        </div>
                        <label class="col-md-2 col-form-label">Observaciones</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" name="Observaciones" id="Observaciones">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Codigo Documento</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" name="CodigoDocumento" id="CodigoDocumento" required>
                        </div>
                    </div>


                    @*<div class="form-group row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button id="btnGuardarTSE" type="submit" class="btn btn-sm btn-success ladda-button" data-style="zoom-in">Guardar</button>
                            </div>
                        </div>
                    </div>*@




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" id="CierremodalEC">Cerrar</button>
                    <button id="btnGuardarTSE" type="submit" class="btn btn-sm btn-success ladda-button" data-style="zoom-in">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>






@section Styles {
    @Styles.Render("~/Content/dataTables", "~/plugins/sweetAlertStyles", "~/Content/daterangepicker", "~/Content/datepicker", "~/plugins/clockpickerStyles", "~/plugins/laddaStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/dataTables", "~/plugins/sweetAlert", "~/plugins/daterangepicker", "~/plugins/datepicker", "~/plugins/clockpicker", "~/plugins/ladda")
    <script src="~/Scripts/sistema/Consultoria.js"></script>
}

