﻿ 
@{
    ViewBag.Title = "Index";
}

<style>
    /* Solucion a reloj atras del modal*/
    .clockpicker-popover {
        z-index: 999999;
    }

    .erI {
        border: 1.5px dashed #FF0000
    }
</style>

<input type="hidden" id="UserJP" value="@ViewBag.JefePro">
<input type="hidden" id="UserAdmin" value="@ViewBag.Admin">
<input type="hidden" id="IdUsuario" value="@ViewBag.IdUsuario">
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>TimeSheet</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-sm btn-info" onclick="location.href='@Url.Action("Registro")'; return false;"><i class="fa fa-plus"></i> Registrar Timesheet</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="usuario">Usuario</label>
                                @{
                                    if (ViewBag.Admin == 1 || ViewBag.JefePro == 1)
                                    {
                                        <select class="form-control input-sm" id="usuario" name="usuario">
                                            <option value="0">Todos</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <input type="hidden" value="@ViewBag.IdUsuario" id="usuario" name="usuario">
                                        <input value="@ViewBag.Nombre" class="form-control input-sm" disabled>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="proyecto">Proyecto</label>
                                <select class="form-control input-sm" id="proyectoB" name="proyectoB">
                                    <option value="0">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="proyecto">Periodo</label>
                                <div id="periodo" style="cursor: pointer; width: 100%">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span></span> <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <br />
                            <button type="button" id="btnBuscar" class="btn btn-sm btn-info"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tblTimesheet" class="table table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        @{
                                            if (ViewBag.Admin == 1 || ViewBag.JefePro == 1)
                                            {
                                                <th>Usuario</th> 
                                            }
                                        }
                                        <th>Fecha</th>
                                        <th>Hora Inicio</th>
                                        <th>Hora Fin</th>
                                        <th>Horas Totales</th>
                                        <th>Item Gantt</th>
                                        <th>Actividad</th>
                                        <th>Proyecto</th>
                                        <th>Tipo Costo</th>
                                        <th width="70px">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlEditar" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="titModal" class="modal-title">Editar Timesheet</h4>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body">
                <form name="form-editar" method="POST" id="form-editar" class="form-horizontal">
                    <input type="hidden" id="IdTimesheet" name="IdTimesheet" value="0">
                    <input type="hidden" id="IdTimesheetAprobada" name="IdTimesheetAprobada" value="0">
                    <div class="form-group row">
                        <label class="col-md-3 control-label">Fecha</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Fecha" id="Fecha" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label">Inicio</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control clockpicker" name="Inicio" id="Inicio" autocomplete="off">
                        </div>
                        <label class="col-md-2 control-label">Término</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control clockpicker" name="Termino" id="Termino" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Proyecto</label>
                        <div class="col-md-8">
                            <select class="form-control input-sm proye" name="Proyecto" id="Proyecto"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Item Gantt</label>
                        <div class="col-md-8">
                            <select class="form-control input-sm gantt" name="Gantt" id="Gantt"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Actividad</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Actividad" id="Actividad" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label">Tipo Costo</label>
                        <div class="col-md-5">
                            <select class="form-control input-sm" name="Costo" id="Costo"></select>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                <button id="btnGuardar" type="submit" class="btn btn-sm btn-success ladda-button" data-style="zoom-in">Guardar</button>
                            </div>
                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




@section Styles {
    @Styles.Render("~/Content/dataTables", "~/plugins/sweetAlertStyles", "~/Content/daterangepicker", "~/Content/datepicker", "~/plugins/clockpickerStyles", "~/plugins/laddaStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/dataTables", "~/plugins/sweetAlert", "~/plugins/daterangepicker", "~/plugins/datepicker", "~/plugins/clockpicker", "~/plugins/ladda")
    <script src="~/Scripts/sistema/Timesheet.js"></script>
}

