﻿@{
    ViewBag.Title = "Notificaciones";
}

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Notificaciones</h5>
                    <div class="ibox-tools"> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table display responsive nowrap" id="tblNotifica" width="100%">
                                <thead>
                                    <tr>
                                        <td width="20px"></td>
                                        <td></td>
                                        <td width="100px"></td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div id="ListaNotifica" class="chat-activity-list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/dataTables")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    <script src="~/Scripts/sistema/Notificaciones.js"></script>

}

