﻿
@{
    ViewBag.Title = "Actividades";
}

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h3>Aprobación de actividades</h3>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="proyecto">Proyecto</label>
                                    <select class="form-control input-sm" id="proyecto" name="proyecto">
                                        <option value="0">Todos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="proyecto">Usuario</label>
                                    <select class="form-control input-sm" id="usuario" name="usuario">
                                        <option value="0">Todos</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Actividades pendientes de aprobación</h5>
                        <div class="ibox-tools">
                            <button type="button" id="btnAprobar" class="btn btn-info btn-sm ladda-button" data-style="zoom-in"><i class="fa fa-check"></i> Aprobar Todos</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-hover table-responsive" id="tblActividades" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Proyecto</th>
                                            <th>Usuario</th>
                                            <th>Fecha Registro</th>
                                            <th>Item Gantt</th>
                                            <th>Actividad</th>
                                            <th>Inicio</th>
                                            <th>Fin</th>
                                            <th>Total HH</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Edición actividades aprobadas</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-hover table-responsive" id="tblAprobados">
                                    <thead>
                                        <tr>
                                            <th>Proyecto</th>
                                            <th>Usuario</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlLoading" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="  position: absolute; float: left;  left: 50%; top:60% ;  transform: translate(-50%, -50%);">
    <div class="modal-dialog modal-sm">
        <div class="modal-content animated fadeIn">
            <div class="modal-body" style="padding-top: 50px;padding-bottom: 50px;padding-left: 50px;padding-right: 50px;">
                <div class="sk-spinner sk-spinner-wave">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlEdicionAprobada" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Timesheet aprobada - editada</h4>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idRegEdt" value="0">
                <div class="row">
                    <table class="" width="100%">

                        <tr>
                            <th width="14%" class="text-center"></th>
                            <th width="43%" class="text-center">Registro aprobado</th>
                            <th width="43%" class="text-center">Registro editado</th>
                        </tr>
                        <tr>
                            <th><label class="col-md-12 control-label">Fecha</label></th>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="fechaapr" disabled>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="fechaedt" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><label class="col-md-12 control-label">Hora de inicio</label></th>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="inicioapr" disabled>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="inicioedt" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><label class="col-md-12 control-label">Hora de Término</label></th>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="terminoapr" disabled>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="terminoedt" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><label class="col-md-12 control-label">Proyecto</label></th>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="proyectoapr" disabled>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="proyectoedt" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><label class="col-md-12 control-label">Item Gantt</label></th>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="itemapr" disabled>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="itemedt" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><label class="col-md-12 control-label">Actividad</label></th>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="actividadapr" disabled>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="actividadedt" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><label class="col-md-12 control-label">Tipo Costo</label></th>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="costoapr" disabled>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12 padd-top-15">
                                    <input type="text" class="form-control" id="costoedt" disabled>
                                </div>
                            </td>
                        </tr>
                        @*<tr>
                                <th><label class="col-md-12 control-label">Motivo</label></th>
                                <td colspan="2">
                                    <div class="col-md-12 padd-top-15">
                                        <textarea class="form-control" id="motivo" name="motivo" rows="2" maxlength="1000"></textarea>
                                     </div>
                                </td>
                            </tr>*@
                        <tr>
                            <th></th>
                            <td class="text-center">
                                <div class="col-md-12 padd-top-15">
                                    <button type="button" id="btnRechazarEdt" class="btn btn-danger ladda-button" data-style="zoom-in"><i class="fa fa-times"></i> Rechazar cambio</button>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="col-md-12 padd-top-15">
                                    <button type="button" id="btnAprobarEdt" class="btn btn-info ladda-button" data-style="zoom-in"><i class="fa fa-check"></i> Aprobar cambio</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/dataTables", "~/plugins/sweetAlertStyles", "~/Content/iCheck", "~/plugins/laddaStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/dataTables", "~/plugins/sweetAlert", "~/plugins/iCheck", "~/plugins/ladda")
    <script src="~/Scripts/sistema/Aprobacion.js"></script>
}

