﻿
@{
    ViewBag.Title = "Aprobación Atrasos";
}
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Solicitudes de Excepción Carga Actividades</h3>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="proyecto">Proyecto</label>
                                <select class="form-control input-sm" id="proyecto" name="proyecto">
                                    <option value="0">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="proyecto">Usuario</label>
                                <select class="form-control input-sm" id="usuario" name="usuario">
                                    <option value="0">Todos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-line-solid">
                    <table class="table table-bordered table-striped table-hover table-responsive" id="tblAtrasos" width="100%">
                        <thead>
                            <tr>
                                <th>Proyecto</th>
                                <th>Usuario</th>
                                <th>Fecha Solicitud</th>
                                <th>Fecha Gestión</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/Content/dataTables", "~/Content/iCheck")
}


@section Scripts {
    @Scripts.Render("~/plugins/dataTables", "~/plugins/iCheck")
    <script src="~/Scripts/sistema/Aprobacion.js"></script>
}