﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Menú Timesheet</strong>
                            </span>
                        </span>
                    </a>

                </div>
                <div class="logo-element">
                    <img src="~/Content/logo.png" class="img-responsive" />
                </div>
            </li>
            @{
                var user = (Dao.Model.FactUsuario)Session["usuario"];

                if (user.IdPerfil != 5)
                {
                    <li class="@Html.IsSelected(controller: "Dashboard")">
                        <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span></a>
                    </li>
                }


                if (user.IdPerfil != 5)
                {
                    <li class="@Html.IsSelected(controller: "Timesheet", action: "Index")">
                        <a href="@Url.Action("Index", "Timesheet")"><i class="fa fa-calendar-check-o"></i> <span class="nav-label">TimeSheet Desarrollo</span> </a>
                    </li>
                }

                if (user.IdPerfil != 2 && user.IdPerfil != 3 && user.IdPerfil != 4)
                {
                    <li class="@Html.IsSelected(controller: "Timesheet", action: "Consultor")">
                        <a href="@Url.Action("Consultor", "Timesheet")"><i class="fa fa-calendar-check-o"></i> <span class="nav-label">TimeSheet Consultor</span> </a>
                    </li>
                }

                if (user.IsAdmin == 1)
                {
                    <li class="@Html.IsSelected(controller: "Empresas", action: "Index")">
                        <a href="@Url.Action("Index", "Empresas")"><i class="fa fa-users"></i> <span class="nav-label">Proveedores</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Perfiles", action: "Index")">
                        <a href="@Url.Action("Index", "Perfiles")"><i class="fa fa-tags"></i> <span class="nav-label">Perfiles</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Proyectos", action: "Index")">
                        <a href="@Url.Action("Index", "Proyectos")"><i class="fa fa-tasks"></i> <span class="nav-label">Proyectos</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Clientes", action: "Index")">
                        <a href="@Url.Action("Index", "Clientes")"><i class="fa fa-building"></i> <span class="nav-label">Clientes</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Usuarios", action: "Index")">
                        <a href="@Url.Action("Index", "Usuarios")"><i class="fa fa-user"></i> <span class="nav-label">Usuarios</span> </a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Asociacion", action: "Index")">
                        <a href="@Url.Action("Index", "Asociacion")"><i class="fa fa-exchange"></i> <span class="nav-label">Asociación de Usuarios</span> </a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Configuracion", action: "Index")">
                        <a href="@Url.Action("Index", "Configuracion")"><i class="fa fa-cog"></i> <span class="nav-label">Configuración</span> </a>
                    </li>
                }
                var pjp = Dal.Clases.RelUsuariosDAL.ProyectosJP(user.IdUsuario);
                if (pjp.Count() > 0)
                {
                    <li class="@Html.IsSelected(controller: "Aprobacion", action: "Atrasos")">
                        <a href="@Url.Action("Atrasos", "Aprobacion")"><i class="fa fa-calendar"></i> <span class="nav-label">Aprobación Atrasos</span> </a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Aprobacion", action: "Actividades")">
                        <a href="@Url.Action("Actividades", "Aprobacion")"><i class="fa fa-clock-o"></i> <span class="nav-label">Aprobación Actividades</span> </a>
                    </li>
                }


            }
        </ul>
    </div>
</nav>