﻿
@{
    ViewBag.Title = "Usuarios";
}

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Usuarios</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-primary btn-sm" id="btnNuevo"><i class="fa fa-plus"></i> Crear Usuario</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered table-striped table-hover table-responsive" id="tblUsuarios" width="100%">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Proveedor</th>
                                <th>Perfil</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="mdlUsuarios" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="titModal" class="modal-title">Usuario</h4>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body" style="padding-bottom: 9px;">
                <form name="formUsuarios" method="POST" id="formUsuarios" enctype="multipart/form-data">
                    <input type="hidden" id="IdUsuario" name="IdUsuario" value="0">

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Usuario</label>
                        <div class="col-md-4">
                            <input type="text" placeholder="Usuario" class="form-control" name="usuario" id="usuario" required>
                            <input type="hidden" value="" id="UsuarioOriginal">
                            <input type="hidden" value="0" id="EUsuario">
                        </div>
                        <label class="col-md-2 col-form-label">Nombre</label>
                        <div class="col-md-4">
                            <input type="text" placeholder="Nombre" class="form-control" name="nombre" id="nombre" required>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Clave</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" placeholder="Clave" class="form-control" name="clave" id="clave" required>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info" id="btnPass"><i class="fa fa-eye" id="icoPass"></i></button>
                                </span>
                            </div>
                        </div>
                        <label class="col-md-2 col-form-label">Correo</label>
                        <div class="col-md-4">
                            <input type="email" placeholder="Correo" class="form-control" name="correo" id="correo" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Perfíl</label>
                        <div class="col-md-4">
                            <select class="form-control" name="perfil" id="perfil" required>
                                <option value="">Seleccione Perfíl</option>
                            </select>
                        </div>
                        <label class="col-md-2 col-form-label">Proveedor</label>
                        <div class="col-md-4">
                            <select class="form-control" name="empresa" id="empresa" required>
                                <option value="">Seleccione Proveedor</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Estado</label>
                        <div class="col-md-4">
                            <select class="form-control" name="estado" id="estado">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <label class="col-md-3 col-form-label"> </label>
                        <label class="col-md-2 col-form-label">Nuevo Proveedor</label>
                        <div class="col-md-1">
                            <div class="ibox-tools">
                                <button class="btn btn-sm btn-info" onclick="location.href='/Empresas'; return false;"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Administrador del Sistema</label>
                        <div class="col-md-4">
                            <input class="checkbox" type="checkbox" value="1" name="Admin" id="Admin">
                        </div>                        
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Firma</label>
                        <div class="col-md-4">
                            <center>
                                <input type="hidden" value="" name="firma-o" id="firma-o">
                                <img id="preview" src="~/Content/Firmas/Firma.png" width="100px" height="100px" style="cursor: pointer;"><br />
                                <input id="firma" name="firma" type="file" accept="image/*" style="display: none;">
                            <small>Haga click en la imagen para cambiarla</small>   
                            </center>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button id="btnGuardar" type="submit" class="btn btn-sm btn-success ladda-button" data-style="zoom-in">Guardar</button>
                            </div>
                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/dataTables", "~/plugins/sweetAlertStyles", "~/Content/iCheck", "~/plugins/laddaStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/dataTables", "~/plugins/sweetAlert", "~/plugins/iCheck", "~/plugins/ladda")
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/Validate_ESP.js"></script>
    <script src="~/Scripts/sistema/Usuarios.js"></script>
}


