﻿
@{
    ViewBag.Title = "Clientes";
}

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Clientes</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-primary btn-sm" id="btnNuevo"><i class="fa fa-plus"></i> Crear Cliente</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered table-striped table-hover table-responsive" id="tblClientes" width="100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Rut</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="mdlClientes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="titModal" class="modal-title">Cliente</h4>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body">
                <form name="formClientes" method="POST" id="formClientes">
                    <input type="hidden" id="IdCliente" name="IdCliente" value="0">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Cliente</label>
                        <div class="col-md-4">
                            <input type="text" placeholder="Cliente" class="form-control" name="Nombre" id="Nombre" required>
                            <input type="hidden" value="" id="ClienteOriginal">
                            <input type="hidden" value="0" id="ECliente">
                        </div>
                        <label class="col-md-2 col-form-label">Rut Cliente</label>
                        <div class="col-md-4">
                            <input type="text" placeholder="Ej.: 12345678-9" class="form-control" style="width:80%;" name="Rut" id="Rut" required>
                            <!--<i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>-->
                            <input type="hidden" value="" id="RutOriginal">
                            <input type="hidden" value="0" id="ERUT">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button id="btnGuardar" type="submit" class="btn btn-sm btn-success ladda-button" data-style="zoom-in">Guardar</button>
                            </div>
                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/dataTables", "~/plugins/laddaStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables","~/plugins/ladda")
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>

    <script src="~/Scripts/Validate_ESP.js"></script>
    <script src="~/Scripts/sistema/Clientes.js"></script>
}

