﻿
@{
    ViewBag.Title = "Detalle Proyecto";
    var pro = (Dao.Model.FactProyecto)ViewBag.pro;
}
<input type="hidden" value="@pro.IdProyecto" id="IdProyecto" />
@{
    if (ViewBag.Permitido == 0)
    {
        <div class="alert alert-warning"><h1>No tiene permisos para visualizar los datos.</h1></div>
    }
    else
    {
        <input type="hidden" value="@ViewBag.jp" id="IsJp">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Proyecto @pro.NombreProyecto - @pro.TotalHH Hrs. </h5> <span class="label label-@ViewBag.alertaPorc"> Asignación Proyecto: @ViewBag.PorAsig%</span>
                            <div class="ibox-tools">
                                <div id="periodo" class="pull-right" style="cursor: pointer; width: 300px">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span></span> <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-5"><canvas id="grafico" style="height: 300px; width: 100%;"></canvas></div>
                                <div class="col-md-7">
                                    <h5>Empresas asociadas al proyecto</h5>
                                    <div style="height: 250px; overflow-y: scroll;">
                                        <table id="tblEmpresas" class="table table-striped table-mail" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Empresa</th>
                                                    <th>HH Utilizadas Periodo</th>
                                                    <th>HH Utilizadas Total</th>
                                                    <th>HH Faltantes</th>
                                                    <th>HH Totales</th>
                                                    @{ if (ViewBag.jp == 1)
                                                        {
                                                            <th>EDP</th> } }
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h3 id="titRecursos" class="text-center">Seleccione empresa para visualizar detalle de los recursos...</h3>
                            <div class="row">
                                <div class="col-md-6 b-r">
                                    <table id="tblRecursosAcumulado" class="table table-striped table-mail" style="width:100%;">
                                        <thead>
                                            <tr colspan="4">
                                                <th>Recursos - Acumulado </th>
                                            </tr>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>HH Utilizadas</th>
                                                <th>HH Faltantes</th>
                                                <th>HH Totales</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table id="tblRecursosPeriodo" class="table table-striped table-mail" style="width:100%;">
                                        <thead>
                                            <tr colspan="4">
                                                <th>Recursos - Periodo</th>
                                            </tr>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>HH Utilizadas</th>
                                                <th>Último Registro</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal inmodal" id="mdlEstadoPago" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Generación Estado de Pago</h4>
                        <small class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <form name="formEstadoPago" method="POST" id="formEstadoPago" action="../GenerarEP" target="_blank">
                            <input type="hidden" id="proyectoEP" name="proyectoEP" value="@pro.IdProyecto">
                            <input type="hidden" id="empresaEP" name="empresaEP" value="0">
                            <input type="hidden" id="fechainiciopro" name="fechainiciopro" value="@ViewBag.fechainicio">
                            <input type="hidden" id="fechafinpro" name="fechafinpro" value="@ViewBag.fechafin">
                            <input type="hidden" id="fechainicioproselec" name="fechainicioproselec" value="">
                            <input type="hidden" id="fechafinproselec" name="fechafinproselec" value="">
                            <input type="hidden" id="FechaUFtxt" name="FechaUFtxt" value="">
                            <div class="form-group row">
                                <h3 class="col-md-4">Proyecto:</h3>
                                <h3 class="col-md-8">@pro.NombreProyecto</h3>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-4">Empresa:</h3>
                                <h3 class="col-md-8"><span id="nomEmpresaEP">EMPRESA</span></h3>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-4">Periodo EDP:</h3>
                                <div class="col-md-8">
                                    <select class="form-control input-sm" id="periodoEP" name="periodoEP" onchange="mostarRangoFechas()"></select>
                                </div>
                            </div>
                            <div class="form-group row" id="periodoPersonalizadoInicio" hidden>

                            </div>
                            <div class="form-group row" id="periodoPersonalizadoFin" hidden>

                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-4">Valor UF:</h3>
                                @*<div class='col-md-8'><input type='text' disabled class='form-control input-sm' value="" name='valorUFperiodo' id='valorUFperiodo'></div>*@
                                <div class='col-md-7'>

                                    <input type='text' disabled class='form-control input-sm' value="" name='valorUFperiodo' id='valorUFperiodo'>
                                </div>
                                <div class='col-md-1 no-padding'>
                                    <span class="btn btn-sm btn-info" id="FechaUF" data-date-format="dd-mm-yyyy" data-date=""><i class="fa fa-calendar"></i></span>
                                </div>
                                @*<input type="text" class="form-control" name='FechaUF' id='FechaUF' value=""><span class="input-group-addon" id="FechaUF"><i class="fa fa-calendar"></i></span>*@

                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-4">Incluir IVA:</h3>
                                <div class="col-md-3">
                                    <select class="form-control input-sm" id="ivaEP" name="ivaEP">
                                        <option value="0">NO</option>
                                        <option value="1">SI</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-4">Jefe de proyecto:</h3>
                                <div class="col-md-8" id="divJPs">

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <h3>Observaciones:</h3>
                                    <textarea class="form-control" id="observaciones" name="observaciones" rows="4"></textarea>
                                </div>

                            </div>
                            <div class="form-group row">
                                <br />
                                <div class="col-md-8"></div>
                                @*<div class="col-md-4"><button type="submit" class="btn btn-sm btn-success">Generar Estado de Pago</button></div>*@
                                <div class="col-md-4"><button type="button" id="btnsentForm" class="btn btn-sm btn-success">Generar Estado de Pago</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    }
}


@section Styles {
    @Styles.Render("~/Content/daterangepicker", "~/Content/chartjs", "~/Content/datepicker")
}


@section Scripts {
    @Scripts.Render("~/plugins/daterangepicker", "~/plugins/chartjs", "~/plugins/datepicker")
    <script src="~/Scripts/sistema/Dashboard.js"></script>
}

