﻿
@{
    ViewBag.Title = "Perfiles";
}

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Perfiles</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-primary btn-sm" id="btnNuevo"><i class="fa fa-plus"></i> Crear Perfil</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered table-striped table-hover table-responsive" id="tblPerfiles" width="100%">
                        <thead>
                            <tr>
                                <th>Perfil</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlPerfiles" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="titModal" class="modal-title">Perfil</h4>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body">
                <form name="formPerfil" method="POST" id="formPerfil">
                    <input type="hidden" id="Id" name="Id" value="0">

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Perfil</label>
                        <div class="col-md-4">
                            <input type="text" placeholder="Perfil" class="form-control" name="DescPerfil" id="DescPerfil" required>
                        </div>
                        <label class="col-md-2 col-form-label">Estado</label>
                        <div class="col-md-4">
                            <select class="form-control" name="Estado" id="Estado">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button id="btnGuardar" type="submit" class="btn btn-sm btn-success ladda-button" data-style="zoom-in">Guardar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<link href="~/Content/plugins/dataTables/datatables.min.css" />
<link href="~/Content/plugins/dataTables/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.responsive.min.js"></script>


@section Styles {
    @Styles.Render("~/Content/dataTables", "~/plugins/laddaStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables", "~/plugins/ladda")
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/Validate_ESP.js"></script>
    <script src="~/Scripts/sistema/Perfiles.js"></script>
}

