﻿
@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Configuración</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Parametros Generales</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">

    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">

        <div class="col-md-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Notificaciones</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" id="form-horario" method="POST">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Hora Ejecución</label>
                                    <div class="col-sm-4">
                                        <select id="HoraEjecucion" name="HoraEjecucion" class="form-control"></select>
                                    </div>
                                </div>
                                <!--
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Días sin registro</label>
                                    <div class="col-sm-4">
                                        <input type="number" min="1" max="5" id="DiasSinRegistro" name="DiasSinRegistro" class="form-control" required>
                                    </div>
                                </div>
                                    -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button id="btnGuardarHora" type="submit" class="btn btn-info btn-md pull-right ladda-button" data-style="zoom-in">Guardar</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Límite Carga Actividades</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" id="form-limite" method="POST">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Límite días registro</label>
                                    <div class="col-sm-3">
                                        <input type="number" id="LimiteDias" name="LimiteDias" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button id="btnGuardarLimite" class="btn btn-info btn-md pull-right ladda-button" data-style="zoom-in">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Styles {
    @Styles.Render("~/plugins/clockpickerStyles", "~/plugins/laddaStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/clockpicker", "~/plugins/ladda")
    <script src="~/Scripts/sistema/Configuracion.js"></script>
}


