﻿
@{
    ViewBag.Title = "Asociacion";
}

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Asociación de usuarios a proyectos</h5>
                </div>
                <div class="ibox-content">
                    <div class=" form-group">
                        <label class="col-md-2 control-label">Proyecto</label>
                        <div class=" col-md-4">
                            <select class="form-control input-sm" name="Proyecto" id="Proyecto">
                                <option value='0'>Todos</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label">Proveedor</label>
                        <div class=" col-md-4">
                            <select class="form-control input-sm" name="Empresa" id="Empresa">
                                <option value='0'>Todos</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Usuarios en proyectos</h5>
                                </div>

                                <table class="table table-bordered table-striped table-hover table-responsive" id="tblUsuarioAsignado" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Proveedor</th>
                                            <th>Proyecto</th>
                                            <th>% Asignado</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="ibox-title">
                                <h5>Asignar usuarios</h5>
                            </div>
                            <div id="divas" class="alert alert-info">Seleccione un proyecto para asignar recursos.</div>
                            <div id="divtabla">
                                <table class="table table-bordered table-striped table-hover table-responsive" id="tblUsuarioProyecto" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Agregar</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlAsignacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="titModal" class="modal-title">Asignacion</h4>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body">
                <form name="formAsignacion" method="POST" id="formAsignacion">
                    <input type="hidden" id="IdUsuarioProyecto" name="IdUsuarioProyecto" value="0">
                    <input type="hidden" id="IdUsuario" name="IdUsuario" value="0">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Usuario</label>
                        <div class="col-md-4">
                            <input type="text" readonly="readonly" placeholder="Usuario" class="form-control" name="Usuario" id="Usuario" required>
                        </div>
                        <label class="col-md-2 col-form-label">Proyecto</label>
                        <div class="col-md-4">
                            <input type="hidden" value="0" id="Proyecto2" name="Proyecto2">
                            <input type="text" value="" id="NombreProyecto" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Porcentaje Asignación</label>
                        <div class="col-md-4">
                            <input type="number" min="1" max="100" placeholder="%" class="form-control" name="Porcentaje" id="Porcentaje" required>
                            <small id="porcmax"></small>
                        </div>
                        <label class="col-md-2 col-form-label">Usuario JP</label>
                        <div class="col-md-4">
                            <select class="form-control" name="IsJp" id="IsJp">
                                <option value="0">No</option>
                                <option value="1">Si</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button id="btnGuardar" type="submit" class="btn btn-sm btn-success ladda-button" data-style="zoom-in">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/dataTables", "~/plugins/laddaStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/dataTables", "~/plugins/ladda")
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/Validate_ESP.js"></script>
    <script src="~/Scripts/sistema/Asignacion.js"></script>
}
