﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/Content/favicon-32x32.png" type="image/png" />
    <title>TimeSheet | Inicio de Sesión</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/plugins/dataTables/responsive.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <link href="~/Content/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <img src="~/Content/logo.png" class="img-responsive" />
            </div>

            <p>
                Registro y Control de Actividades
            </p>
            <p>Ingrese sus datos para iniciar sesión.</p>
            <form class="m-t" role="form" action="#" name="frmLogin" id="frmLogin">
                <input type="hidden" value="@ViewBag.returnUrl" id="returnUrl" name="returnUrl">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" name="usuario" id="usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password">
                </div>
                <button type="submit" class="ladda-button btn btn-primary block full-width m-b" data-style="expand-left" id="btnLogin">Login</button>

                <a href="@Url.Action("Recuperar", "Home")"><small>¿Olvidó su contraseña?</small></a>
            </form>
            <p class="m-t"> <small>TimeSheet - Registro Actividades &copy; @DateTime.Today.Year</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>


    <!-- Ladda -->

    <script src="~/Scripts/plugins/ladda/spin.min.js"></script>
    <script src="~/Scripts/plugins/ladda/ladda.min.js"></script>

    <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>

    <script src="~/Scripts/sistema/Login.js"></script>

</body>

</html>


