﻿@{
    Layout = null;
}
<html>
<head>
    <title>Timesheet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <!-- Save for Web Slices (correo) -->
    <table id="Tabla_01" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="margin-top: 0">
                <img src="http://plataformatimesheet.vmica.com/Content/email/header.png" width="100%" alt="">
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                <h3>Estimado [NOMBRE]:</h3>
                <p> [DESCRIPCION] </p>
                <div style="background-color: #ECF0F6; color: #656D78; min-width:300px; padding: 20px;">
                    [CONTENIDO]
                </div>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://plataformatimesheet.vmica.com/Content/email/footer.png" width="100%" alt="">
            </td>
        </tr>
    </table>
    <!-- End Save for Web Slices -->
</body>
</html>
